<h2>Professionals</h2>
<div>

  <div style="display:flex;background:#fafafa;padding:40px;justify-content: space-between">
    <label for="name"></label>
    <input id="name" style="flex:0.4;" nz-input placeholder="Name" [(ngModel)]="value" />
    <input id="experience" style="flex:0.4;" nz-input placeholder="Experience" [(ngModel)]="value" />
    <input id="speciality" style="flex:0.4;" nz-input placeholder="Speciality" [(ngModel)]="value" />
    <button nz-button nzType="primary" >Filter</button>
  </div>

</div>
<nz-table #basicTable [nzData]="dataSet">
  <thead>
  <tr>
    <th>Name</th>
    <th>Educational Status</th>
    <th>Speciality</th>
    <th>Experience</th>
    <th>Phone No.</th>
    <th>Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let professional of professionals">
    <td>{{professional.name}}</td>
    <td>{{professional.educationalStatus}}</td>
    <td>{{professional.speciality}}</td>
    <td>{{professional.experience}}</td>
    <td>{{professional.phoneNo}}</td>






    <td>
      <a>Edit 一 {{professional.name}}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
